.request-a-quote-form {
    background-color: #ffffff;


    text-align: center;
    @media #{$xmedium-up} {
        text-align: right;
    }
    &.modal {
        display: none;
        left: 3.5%;
        height: auto;
        overflow-y: auto;
        position: fixed;
        bottom: rem-calc(40);
        top: rem-calc(40);
        width: 93%;
        -webkit-overflow-scrolling: touch;
        z-index: 1000;
        @media #{$xmedium-up} {
            height: auto;
            top: rem-calc(35);
            bottom: rem-calc(35);
            width: rem-calc(600);
            left: 50%;
            margin-left: rem-calc(-300);
        }
        @media #{$large-up} {
            margin-left: rem-calc(-392);
            width: rem-calc(784);
        }
    }
    > strong {
        background-color: #ffffff;
        color: $orange;
        display: block;
        font-size: rem-calc(22);
        font-weight: 600;
        line-height: rem-calc(26);
        padding: rem-calc(10) rem-calc(15) rem-calc(13);
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        z-index: 100;
        text-align: center;
        @media #{$xmedium-up} {
            color: $blue;
            font-size: rem-calc(46);
            line-height: rem-calc(54);
            padding: rem-calc(18) rem-calc(45) rem-calc(20) rem-calc(45);
            text-align: left;
        }
    }
    .tooltip {
        display: inline-block;

        margin-left: rem-calc(6);
        @media #{$large-up} {
            text-align: left;
        }
        &:after {
            content: "i";
            display: block;
            padding: rem-calc(4);
            height: rem-calc(18);
            width: rem-calc(18);
            line-height: rem-calc(12);
            border-radius: rem-calc(11);
            background: #808285;
            color: #fff;
            font-size: rem-calc(14);
            font-weight: 700;
            font-family: serif;
            font-style: italic;
            text-align: center;
        }
        .tooltip-message {
            display: none;
            position: absolute;
            padding: rem-calc(20);
            width: 100%;
            line-height: 1.3em;
            background: #e7e7e7;
            color: #808285;
            font-size: rem-calc(14);
            z-index: 100;
            top: 100%;
            left: 0;
            margin-top: rem-calc(10px);
            margin-left: rem-calc(0);
            &:before {
                position: absolute;
                top: rem-calc(-20);
                left: rem-calc(9);
                content: "";
                display: block;
                width: 0;
                height: 0;
                border: rem-calc(10) inset;
                border-color: transparent transparent #e7e7e7;
                border-bottom-style: solid;
            }
        }
    }
    .form-section {
        padding: rem-calc(9) rem-calc(15) rem-calc(13);
        text-align: left;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        @media #{$xmedium-up} {
            padding: rem-calc(13) rem-calc(10) rem-calc(13);
        }
    }
    .form-section-title {
        color: $blue;
        font-size: rem-calc(18);
        font-weight: 700;
        line-height: rem-calc(22);
        position: relative;

        .tooltip {
            .tooltip-message {
                font-weight: 400;
            }
        }
        + select, + input {
            margin-bottom: rem-calc(3);
            margin-top: rem-calc(3);
            @media #{$xmedium-up} {
                float: left;
                width: rem-calc(300);
            }
            @media #{$large-up} {
                width: rem-calc(394);
            }
        }
        + label {
            margin-top: rem-calc(5);
            @media #{$xmedium-up} {
                margin-top: 0;
            }
        }
        ~ label {
            @media #{$xmedium-up} {
                display: block;
                float: left;
                width: 100%;
            }
        }
        @media #{$xmedium-up} {
            float: left;
            margin-top: rem-calc(3);
            padding: rem-calc(7) 0 rem-calc(8) rem-calc(38);
            width: rem-calc(220);
            .tooltip {
                .tooltip-message {
                    width: 98%;
                    &:before {
                        left: rem-calc(40);
                    }
                }
            }
        }
        @media #{$large-up} {
            font-size: rem-calc(22);
            line-height: rem-calc(28);
            width: rem-calc(264);
        }
    }
    .input-details {
        font-size: rem-calc(12);
        opacity: 0.5;
        line-height: rem-calc(18);
        padding-top: rem-calc(4);
        padding-bottom: rem-calc(2);
        @media #{$xmedium-up} {
          text-align: left;
          padding-left: rem-calc(220);
        }
        @media #{$large-up} {
          padding-left: rem-calc(264);
        }
    }
    .input-error {
        padding: 0 0 0 rem-calc(32);
        color: $orange;
        background-image: url('..//img/circle-cross.svg');
        background-position: rem-calc(11) rem-calc(4);
        background-size: rem-calc(14) rem-calc(14);
        background-repeat: no-repeat;
        font-size: rem-calc(12);
        line-height: rem-calc(22);
        padding-top: rem-calc(1);
        margin-top: rem-calc(4);
        margin-bottom: rem-calc(-8);
        overflow: hidden;
        transition: all 250ms ease-out;
        @media #{$xmedium-up} {
          margin-left: rem-calc(220);
        }
        @media #{$large-up} {
          margin-left: rem-calc(264);
        }
        &.field-validation-valid {
          display: none;
        }
        &.field-validation-error {
          display: inline-block;
        }
    }
    .input-error {
        + .input-error {
            height: rem-calc(22);
        }
    }
    textarea {
        height: rem-calc(134);
        @media #{$xmedium-up} {
            height: rem-calc(268);
        }
    }
    label {
        color: #343434;
        margin-bottom: rem-calc(16);
        position: relative;
        @media #{$xmedium-up} {
          margin-bottom: rem-calc(18);
          position: static;
        }
        > span:first-child {
            + input, + select, + textarea {
                margin-top: rem-calc(3);
                margin-bottom: 0;
            }
            @media #{$xmedium-up} {
                position: relative;
                display: inline-block;
                font-size: rem-calc(16);
                line-height: rem-calc(17);
                vertical-align: middle;
                margin: 0;
                padding-right: rem-calc(16);
                text-align: right;
                width: rem-calc(216);
                .tooltip {
                    .tooltip-message {
                        &:before {
                            left: auto;
                            right: rem-calc(16);
                        }
                    }
                }
                + input, + select, + textarea {
                    display: inline-block;
                    margin: 0;
                    vertical-align: middle;
                    width: rem-calc(300);
                }
            }
            @media #{$large-up} {
                width: rem-calc(260);
                + input, + select, + textarea {
                    width: rem-calc(440);
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
            @media #{$xmedium-up} {
                margin-bottom: rem-calc(9);
            }
        }
        &.required {
            > span {
                display: inline-block;
                position: relative;
                padding-right: rem-calc(16);
                &:first-child {
                    display: inline-block;
                }
            }
        }
    }
    input,
    select,
    textarea {
        font-size: 1rem;
        line-height: rem-calc(19);
    }
    > button {
        margin-top: 0;
        margin-bottom: rem-calc(28);
        @media #{$xmedium-up} {
            margin-right: rem-calc(53);
        }
        @media #{$large-up} {
            margin-right: rem-calc(99);
        }
    }

}
