<section class="breadcrumbs">
    <div class="row">
        <a class="#">Home</a>
        <div class="separator"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11.37px" height="20.74px" viewBox="0 0 11.37 20.74" style="enable-background:new 0 0 11.37 20.74;" xml:space="preserve"
        	><polyline points="1,1 10.37,10.37 1,19.74 "/></svg></div>
        <span class="current">Services</span>
    </div>
</section>
