<div class="call-to-action-container columns small-12 medium-8 medium-offset-2 xmedium-6 xmedium-offset-0 large-8">

    <div class="call-to-action-flexslider flexslider">
      <ul class="slides">
        <li>
            <a href="#">
                <div class="flex-title">Car Servicing</div>
                <img src="/img/kids-car.jpg" />
                <div class="flex-caption">See our interactive SUV tyres buyers guide.</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="flex-title">Catalogue</div>
                <img src="/img/kids-car.jpg" />
                <div class="flex-caption">Time to get your vehicle trip ready for school holidays.</div>
            </a>
        </li>
      </ul>
    </div>

</div>
