<section class="page-heading-wrap">
    <div class="row">
        <h1>Safety Examinations</h1>
    </div>
</section>
<main class="content">
    <div class="row">
        <section class="main-content">
            <article>
                <img class="alignright" src="/img/kids-car.jpg" /> 
                <h5>Optional Heading Title</h5>
                <p><em><strong>Tyres and More</strong></em> lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu dui eros. Curabitur ullamcorper nulla quis lacus venenatis laoreet. Integer varius turpis nec posuere dapibus. Quisque pulvinar orci nec massa mollis, a finibus dui euismod. In sed accumsan ante, in eleifend quam. Ut sodales elit arcu, sit amet faucibus leo accumsan vitae. </p>

                <p>Donec vel lacus sed est imperdiet sagittis. Donec vitae lorem purus. Maecenas mollis augue eget interdum vestibulum. Vestibulum aliquam quam quis turpis ullamcorper tristique. In posuere condimentum nisi. Pellentesque ut pellentesque massa, sed molestie enim. Integer sed risus at tortor ornare malesuada. Phasellus cursus varius odio sit amet gravida. Nam accumsan, risus et dictum scelerisque, massa nulla feugiat dui, non blandit ligula lectus vitae risus.</p>

                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Proin sit amet mauris ullamcorper, viverra justo at, vulputate mauris. Integer vel erat consequat, lacinia tellus at, ornare orci. <a href="#">More</a> </p>

                <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu dui eros. Curabitur ullamcorper nulla quis lacus venenatis laoreet. <em>At <strong>Tyres and More</strong> we appreciate this difference and cater for all your tyre needs.</em>
                </blockquote>

                <table>
                    <caption>Table Title</caption>
                    <tbody>
                        <tr>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                        </tr>
                        <tr>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                        </tr>
                        <tr>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                        </tr>
                        <tr>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                        </tr>
                        <tr>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                        </tr>
                        <tr>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                        </tr>
                        <tr>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                            <td>Data</td>
                        </tr>
                    </tbody>
                </table>
                <h5>Subheading</h5>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Nulla eu dui eros. Curabitur eros nulla</li>
                    <li>Lorem ipsum dolor sit amet, elit adipiscing elit.</li>
                    <li>Nulla eu dui eros. Curabitur eros nulla</li>
                </ul>


            </article>
        </section>

        <aside class="sidebar">
            @@include('./_tyre-search-widget.tpl.html')

            @@include('./_newsletter-widget.tpl.html')

            @@include('./_promo-widget.tpl.html')
        </aside>
    </div>
</main>
