<main class="find-store-content">

    <div class="row">
        <section class="location-items">
            <div class="find-store-intro">Here are the nearest Stores to you</div>
            <ul>
                <li>
                    <div class="distance"></div>
                    <div class="title">Caroline Spings</div>
                    <div class="additional-info">
                        <p class="address">Unit 5, 2 Delma Road<br/>
                            Caroline Springs VIC 3023</p>
                        <div class="title">Phone</div>
                        <a href="tel:0399722435">03 9972 2435</a>
                        <div class="title">Operating Hours</div>
                        <table>
                            <tr>
                                <td>Sunday</td>
                                <td><time itemprop="openingHours" datetime="Su 07:30-17:00">7.30am - 5:00pm</time></td>
                            </tr>
                            <tr>
                                <td>Monday</td>
                                <td><time itemprop="openingHours" datetime="Mo 07:30-17:00">7.30am - 5:00pm</time></td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td><time itemprop="openingHours" datetime="Tu 07:30-17:00">7.30am - 5:00pm</time></td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td><time itemprop="openingHours" datetime="We 07:30-17:00">7.30am - 5:00pm</time></td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td><time itemprop="openingHours" datetime="Th 07:30-17:00">7.30am - 5:00pm</time></td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td><time itemprop="openingHours" datetime="Fr 07:30-17:00">7.30am - 5:00pm</time></td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td><time itemprop="openingHours" datetime="Sa 08:00-12:00">8.00am - 12:00pm</time></td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="distance">5.5KMS</div>
                    <div class="title">Vermont</div>
                    <div class="additional-info">
                        <p class="address">Unit 5, 2 Delma Road<br/>
                            Caroline Springs VIC 3023</p>
                        <div class="title">Phone</div>
                        <a href="tel:0399722435">03 9972 2435</a>
                        <div class="title">Operating Hours</div>
                        <table>
                            <tr>
                                <td>Sunday</td>
                                <td><time itemprop="openingHours" datetime="Su 07:30-17:00">7.30am - 5:00pm</time></td>
                            </tr>
                            <tr>
                                <td>Monday</td>
                                <td><time itemprop="openingHours" datetime="Mo 07:30-17:00">7.30am - 5:00pm</time></td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td><time itemprop="openingHours" datetime="Tu 07:30-17:00">7.30am - 5:00pm</time></td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td><time itemprop="openingHours" datetime="We 07:30-17:00">7.30am - 5:00pm</time></td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td><time itemprop="openingHours" datetime="Th 07:30-17:00">7.30am - 5:00pm</time></td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td><time itemprop="openingHours" datetime="Fr 07:30-17:00">7.30am - 5:00pm</time></td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td><time itemprop="openingHours" datetime="Sa 08:00-12:00">8.00am - 12:00pm</time></td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </section>
        <aside class="map-wrap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12607.523935031868!2d144.96324085058592!3d-37.816256619712554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sau!4v1447024077363" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </aside>
    </div>
</main>
