<section class="find-store-menu-bar">
    <div class="row">
        <div class="find-store-section">
            <h5>Find a Tyres &amp; More store</h5>
            <form class="postcode-search clearfix">
                <input type="number" placeholder="Enter a postcode" />
                <button class="btn orange">Find Tyre Store</button>
            </form>
            <a href="#">Show all stores</a>
        </div>
        <div class="my-store-section">
            <h5>My Store</h5>
            <div class="my-store">
                <div class="store-name">Caroline Springs</div>
                <div class="store-phone">
                    <strong>Phone</strong>
                    <a href="tel:0399722435">03 9972 2435</a>
                </div>
                <div class="store-address">
                    <strong>Address</strong>
                    <p class="address">Unit 5, 2 Delma Road<br/>
                        Caroline Springs VIC 3023
                    </p>
                </div>
            </div>
        </div>
        <div class="close-dropdown">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.74px" height="11.37px" viewBox="0 0 20.74 11.37" style="enable-background:new 0 0 20.74 11.37;" xml:space="preserve"><polyline class="st0" points="19.74,10.37 10.37,1 1,10.37 "/></svg>
        </div>
    </div>
</section>
