<header class="page-header store-selected">
    <section class="header-top">
        <div class="row">
            <div class="logo">
                <img src="/img/logo.svg" />
            </div>
            <div class="logo-small">
                <img src="/img/logo-small.svg" />
            </div>
            <button class="menu-toggle">

            </button>
            <button class="find-tyre-store header-button btn orange">
                Find Tyre Store
            </button><!--
            --><button class="refine-search header-button btn orange">
                Refine Search
            </button><!--
            --><button class="find-tyres header-button btn orange">
                            Tyre Search
                        </button><!--
            --><a class="phone-button btn blue" href="tel:136673">
                <span>Phone</span><span>Call</span> 13 66 73
            </a>
            <div class="header-store-details">
                <div class="store-location"><a href="#">All stores</a> | <span class="change-store">Change</span></div>
                <a class="phone-number" href="tel:136673">
                    13 66 73
                </a>
            </div>
        </div>
    </section>
    @@include('./_nav.tpl.html')
    @@include('./_find-tyres-store-search.tpl.html')
    @@include('./_find-tyres-search-bar.tpl.html')
</header>
