<header class="page-header store-selected">
    <section class="header-top">
        <div class="row">
            <div class="logo">
                <img src="/img/logo.svg" />
            </div>
            <div class="logo-small">
                <img src="/img/logo-small.svg" />
            </div>
            <button class="menu-toggle">

            </button>
            <button class="find-tyres header-button btn orange">
                Tyre Search
            </button><!--
            --><div class="header-store-details">
                <div class="store-location"><a href="#">Caroline Springs</a> | <span class="change-store">Change</span></div>
                <a class="phone-number" href="tel:99722435">
                    9972 2435
                </a>
            </div>
        </div>
    </section>
    @@include('./_nav.tpl.html')
    @@include('./_find-tyres-store-search.tpl.html')
    @@include('./_find-tyres-search-bar.tpl.html')
</header>
