<div class="hero-banner-flexslider flexslider">
  <ul class="slides">
    <li>
      <img src="/img/4wd-beach.jpg" />
      <div class="flex-caption"><h4>Need Advice? Check out this info</h4><span>See our interactive SUV tyres buyers guide.</span>
          <a class="flex-link" href="#"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11.37px" height="20.74px" viewBox="0 0 11.37 20.74" style="enable-background:new 0 0 11.37 20.74;" xml:space="preserve"><polyline class="st0" points="1,1 10.37,10.37 1,19.74 "/></svg></a>
      </div>
    </li>
    <li>
      <img src="/img/car-strets.jpg" />
      <div class="flex-caption"><h4>Need Advice?</h4><span>See our interactive SUV tyres buyers guide.</span>
          <a class="flex-link" href="#"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11.37px" height="20.74px" viewBox="0 0 11.37 20.74" style="enable-background:new 0 0 11.37 20.74;" xml:space="preserve"><polyline class="st0" points="1,1 10.37,10.37 1,19.74 "/></svg></a>
      </div>
    </li>
    <li>
      <img src="/img/white-car.jpg" />
      <div class="flex-caption"><h4>Need Advice?</h4><span>See our interactive SUV tyres buyers guide.</span>
          <a class="flex-link" href="#"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11.37px" height="20.74px" viewBox="0 0 11.37 20.74" style="enable-background:new 0 0 11.37 20.74;" xml:space="preserve"><polyline class="st0" points="1,1 10.37,10.37 1,19.74 "/></svg></a>
      </div>
    </li>
  </ul>
</div>
<script type="text/javascript">
    //window.flexsliderSpeed = 1000;
</script>
