<main class="homepage-content">
    <div class="row">

        <article class="show-for-xmedium-up">
            <h4>An important decision</h4>
            <blockquote>Tyres are a considered purchase that involves thinking about price, value, quality, drive, performance and safety. And for each driver the order of these can be very different. <em>At <strong>Tyres and More</strong> we appreciate this difference and cater for all your tyre needs.</em></blockquote>
        </article>

        @@include('./_tyre-search-widget.tpl.html')
    </div>
</main>
