<main class="content">
    <div class="row">
        <h1>Services</h1>
        <section class="main-content">
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu dui eros. Curabitur ullamcorper nulla quis lacus venenatis laoreet. Integer varius turpis nec posuere dapibus. Quisque pulvinar orci nec massa mollis, a finibus dui euismod. In sed accumsan ante, in eleifend quam. Ut sodales elit arcu, sit amet faucibus leo accumsan vitae. </p>

                <p>Donec vel lacus sed est imperdiet sagittis. Donec vitae lorem purus. Maecenas mollis augue eget interdum vestibulum. Vestibulum aliquam quam quis turpis ullamcorper tristique. In posuere condimentum nisi. Pellentesque ut pellentesque massa, sed molestie enim. Integer sed risus at tortor ornare malesuada. Phasellus cursus varius odio sit amet gravida. Nam accumsan, risus et dictum scelerisque, massa nulla feugiat dui, non blandit ligula lectus vitae risus. Quisque ornare diam ut leo hendrerit, eu elementum lectus consequat. Vestibulum hendrerit tellus eget fringilla dictum.</p>

                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Proin sit amet mauris ullamcorper, viverra justo at, vulputate mauris. Integer vel erat consequat, lacinia tellus at, ornare orci.</p>


            </article>
            <ul class="sub-pages-list">
                <li>
                    <h5>
                        <a href="#">Safety Examinations</a>
                    </h5>
                    <div class="item-content">
                        <a href="#">
                            <img src="/img/lady-baby.jpg" />
                        </a>
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Nullam maximus lectus dui,</p>

                        <p>Eu condim entum odio laoreet in. Aliquam ultrices in urna.</p>
                        <a href="#" class="item-link"></a>
                    </div>
                </li>
                <li>
                    <h5>
                        <a href="#">Quality Tyres</a>
                    </h5>
                    <div class="item-content">
                        <a href="#">
                            <img src="/img/kids-car.jpg" />
                        </a>
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Nullam maximus lectus dui,</p>

                        <p>Eu condim entum odio laoreet in. Aliquam ultrices in urna.</p>
                        <a href="#" class="item-link"></a>
                    </div>
                </li>
                <li>
                    <h5>
                        <a href="#">Child Restraint Fittings</a>
                    </h5>
                    <div class="item-content">
                        <a href="#">
                            <img src="/img/lady-baby.jpg" />
                        </a>
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Nullam maximus lectus dui,</p>

                        <p>Eu condim entum odio laoreet in. Aliquam ultrices in urna.</p>
                        <a href="#" class="item-link"></a>
                    </div>
                </li>
                <li>
                    <h5>
                        <a href="#">General Servicing</a>
                    </h5>
                    <div class="item-content">
                        <a href="#">
                            <img src="/img/kids-car.jpg" />
                        </a>
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Nullam maximus lectus dui,</p>

                        <p>Eu condim entum odio laoreet in. Aliquam ultrices in urna.</p>
                        <a href="#" class="item-link"></a>
                    </div>
                </li>
            </ul>
        </section>

        <aside class="sidebar">
            @@include('./_tyre-search-widget.tpl.html')

            @@include('./_newsletter-widget.tpl.html')

            @@include('./_promo-widget.tpl.html')
        </aside>
    </div>
</main>
