<div class="news-preview-list-title">
    <div class="row">
        <h5>Heading Title</h5>
    </div>
</div>
<div class="news-preview-list-container row">
    <div class="news-preview-list-flexslider flexslider">
      <ul class="slides">
        <li>
            <a href="#">
                <img src="/img/kids-car.jpg" />
                <div class="flex-title">Car Servicing</div>
                <div class="flex-caption">See our interactive SUV tyres buyers guide. See our interactive SUV tyres buyers guide.</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/kids-car.jpg" />
                <div class="flex-title">Catalogue</div>
                <div class="flex-caption">Time to get your vehicle trip ready for school holidays.</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/kids-car.jpg" />
                <div class="flex-title">Car Servicing</div>
                <div class="flex-caption">See our interactive SUV tyres buyers guide.</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/kids-car.jpg" />
                <div class="flex-title">Catalogue</div>
                <div class="flex-caption">Time to get your vehicle trip ready for school holidays.</div>
            </a>
        </li>
      </ul>
    </div>
</div>
