<div class="columns small-12 medium-8 medium-offset-2 xmedium-6 xmedium-offset-0 large-4 end">
    <div class="quick-find-menu">
        <strong>Our services <span class="ampersand"></span> more</strong>

        <ul class="quick-find-links">
            <li>
                <a href="#">Safety Examination</a>
            </li>
            <li>
                <a href="#">Car Servicing</a>
            </li>
            <li>
                <a href="#">Subscribe to our Newsletter</a>
            </li>
            <li>
                <a href="#">Customer Reviews</a>
            </li>
        </ul>
    </div>
</div>
