<section class="page-heading-wrap">
    <div class="row">
        <h1>Hillsdale Tyres &amp; More</h1>
    </div>
</section>
@@include('./_hero-banner-page.tpl.html')
<nav class="store-page-nav">
    <ul class="row">
        <span class="store-name">Hillsdale Tyres &amp; More</span><!--
        --><li>Overview</li><!--
        --><li class="active">About Us</li><!--
        --><li>Contact Us</li><!--
        --><li>Contact Us2</li>
</nav>
<main class="content store-page">
    <div class="row">
        <section class="main-content" currentlyvisible="overview">
            <div class="article-wrap">
                <article class="overview">
                    <div class="contact-details-wrap">
                        <div class="phone">
                            <strong>Phone</strong>
                            <a href="tel:0280339129">02 8033 9129</a>
                        </div>

                        <div class="address">
                            <strong>Address</strong>
                            100 Denison St<br/>
                            Hillsdale NSW 20135<br/>
                            <a href="#">View map</a>
                        </div>
                    </div>

                    <ul class="sub-section-list">
                        <li>
                            <h5>
                                Operating Hours
                            </h5>
                            <div class="item-content">
                                <table>
                                    <tr>
                                        <td>Sunday</td>
                                        <td>Closed</td>
                                    </tr>
                                    <tr>
                                        <td>Monday</td>
                                        <td>7.30am - 5.00pm</td>
                                    </tr>
                                    <tr>
                                        <td>Tuesday</td>
                                        <td>7.30am - 5.00pm</td>
                                    </tr>
                                    <tr>
                                        <td>Wednesday</td>
                                        <td>7.30am - 5.00pm</td>
                                    </tr>
                                    <tr>
                                        <td>Thursday</td>
                                        <td>7.30am - 5.00pm</td>
                                    </tr>
                                    <tr>
                                        <td>Friday</td>
                                        <td>7.30am - 5.00pm</td>
                                    </tr>
                                    <tr>
                                        <td>Saturday</td>
                                        <td>8.00am - 12.00pm</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <li>
                            <h5>
                                Our Services
                            </h5>
                            <div class="item-content">
                                <ul class="tick-list">
                                    <li>Child restraint fitting</li>
                                    <li>Logbook servicing</li>
                                    <li>Mechanical repairs</li>
                                    <li>Registration inspections</li>
                                    <li>Female-friendly accreditation</li>
                                    <li>Air-conditioning</li>
                                    <li>General Servicing</li>
                            </div>
                        </li>
                        <li>
                            <h5>
                                Optional Heading Title
                            </h5>
                            <div class="item-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu dui eros. Curabitur ullamcorper nulla quis lacus venenatis laoreet. Integer varius turpis nec posuere dapibus. Quisque pulvinar orci nec massa mollis, a finibus dui euismod. In sed accumsan ante, in eleifend quam. Ut sodales elit arcu, sit amet faucibus leo accumsan vitae. </p>

                                <p>Donec vel lacus sed est imperdiet sagittis. Donec vitae lorem purus. Maecenas mollis augue eget interdum vestibulum. Vestibulum aliquam quam quis turpis ullamcorper tristique. In posuere condimentum nisi. Pellentesque ut pellentesque massa, sed molestie enim. Integer sed risus at tortor ornare malesuada. Phasellus cursus varius odio sit amet gravida.</p>

                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Proin sit amet mauris ullamcorper, viverra justo at, vulputate mauris.</p>
                            </div>
                        </li>
                    </ul>
                </article>
                <article class="about-us">
                    <h5>
                        Optional Heading Title
                    </h5>
                    <img class="alignright" src="/img/kids-car.jpg" />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu dui eros. Curabitur ullamcorper nulla quis lacus venenatis laoreet. Integer varius turpis nec posuere dapibus. Quisque pulvinar orci nec massa mollis, a finibus dui euismod. In sed accumsan ante, in eleifend quam. Ut sodales elit arcu, sit amet faucibus leo accumsan vitae. </p>



                    <p>Donec vel lacus sed est imperdiet sagittis. Donec vitae lorem purus. Maecenas mollis augue eget interdum vestibulum. Vestibulum aliquam quam quis turpis ullamcorper tristique. In posuere condimentum nisi. Pellentesque ut pellentesque massa, sed molestie enim. Integer sed risus at tortor ornare malesuada. Phasellus cursus varius odio sit amet gravida.</p>

                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Proin sit amet mauris ullamcorper, viverra justo at, vulputate mauris.</p>
                </article>
                <article class="contact-us">
                    <div class="contact-details-wrap">
                        <div class="phone">
                            <strong>Phone</strong>
                            <a href="tel:0280339129">02 8033 9129</a>
                        </div>

                        <div class="address">
                            <strong>Address</strong>
                            100 Denison St<br/>
                            Hillsdale NSW 20135<br/>
                            <a href="#">View map</a>
                        </div>
                    </div>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Proin sit amet mauris ullamcorper, viverra justo at, vulputate mauris.</p>
                    <form class="contact-form">
                        <h5>Your Details</h5>
                        <label><span>Enquiry type</span>
                            <select name="enquiry-type">
                                <option>General</option>
                                <option>Words</option>
                                <option>Things</option>
                            </select>
                            <div class="input-details">Please tell us what sort of enquiry you're making.</div>
                        </label>
                        <label class="required"><span>First Name</span>
                            <input type="text" required name="firstName" />
                        </label>
                        <label class="required"><span>Last Name</span>
                            <input type="text" required name="lastName" />
                        </label>
                        <label class="required"><span>Email</span>
                            <input type="email" required name="email" />
                        </label>
                        <label><span>Contact Phone</span>
                            <input type="text" />
                        </label>

                        <h5>Your Query</h5>

                        <label><span>Preferred Contact Method</span>
                            <select name="preferredContactMethod">
                                <option>General</option>
                                <option>Words</option>
                                <option>Things</option>
                            </select>
                        </label>

                        <label>
                            <input type="checkbox" name="receiveOffers" /> <span>Yes I want to receive offers from Tyres and More</span>
                        </label>
                        <label class="required"><span>Comments</span>
                            <textarea required name="comments"></textarea>
                        </label>

                        <button class="submit btn white">Send Query</button>
                    </form>
                </article>
                <article class="about-us2">
                    <h5>
                        Optional Heading Title
                    </h5>
                    <img class="alignright" src="/img/kids-car.jpg" />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu dui eros. Curabitur ullamcorper nulla quis lacus venenatis laoreet. Integer varius turpis nec posuere dapibus. Quisque pulvinar orci nec massa mollis, a finibus dui euismod. In sed accumsan ante, in eleifend quam. Ut sodales elit arcu, sit amet faucibus leo accumsan vitae. </p>



                    <p>Donec vel lacus sed est imperdiet sagittis. Donec vitae lorem purus. Maecenas mollis augue eget interdum vestibulum. Vestibulum aliquam quam quis turpis ullamcorper tristique. In posuere condimentum nisi. Pellentesque ut pellentesque massa, sed molestie enim. Integer sed risus at tortor ornare malesuada. Phasellus cursus varius odio sit amet gravida.</p>

                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Proin sit amet mauris ullamcorper, viverra justo at, vulputate mauris.</p>
                </article>
            </div>
        </section>

        <aside class="sidebar">

            @@include('./_google-map-widget.tpl.html')

            @@include('./_tyre-search-widget.tpl.html')

            @@include('./_newsletter-widget.tpl.html')

            @@include('./_promo-widget.tpl.html')
        </aside>
    </div>
</main>
