<main class="content tyre-details">
    <div class="row">
        <h1>2012 Ford model-name Tyres</h1>
        <button class="btn blue request-a-quote">Request a Quote</button>
        <aside class="sidebar">
            @@include('./_tyre-refine-widget.tpl.html')

            @@include('./_brochure-widget.tpl.html')

            @@include('./_tyre-promo-widget.tpl.html')
        </aside>

        <section class="main-content">
            <section class="tyre-highlight">

              <div class="tyre-left">
                  <div class="tyre-image" style="background-image: url('/img/tyre.jpg')"></div>
                  <div class="tyre-price">
                      $79.00
                  </div>
                  <div class="tyre-promotion">
                    1 FREE WHEN YOU BUY 3
                  </div>
              </div><!--
              --><div class="tyre-right">
                    <h4 class="tyre-title">Yokohama Bluearth AE-01</h4>
                    <img class="tyre-logo" src="/img/yokohama.svg" />
                    <div class="tyre-info">
                        <p>Tall SUVs and small 4WDs use more fuel than other cars of similar size. The Geolandar SUV is a quiet, low rolling resistance 'eco tyre'.</p>
                        <p>Tall SUVs and small 4WDs use more fuel than other cars of similar size. The Geolandar SUV is a quiet, low rolling resistance 'eco tyre'.</p>
                        <p>Tall SUVs and small 4WDs use more fuel than other cars of similar size. The Geolandar SUV is a quiet, low rolling resistance 'eco tyre'.</p>
                        <span href="#" class="read-more">More</span>


                    </div>
                    <section class="tyre-change">
                        <select class="tyre-change-select">
                            <option>175/10R13 82H</option>
                            <option>175/10R13 82H</option>
                            <option>175/10R13 82H</option>
                            <option>175/10R13 82H</option>
                            <option>175/10R13 82H</option>
                        </select>
                    </section>
                    <button class="btn deepblue btn-order">Order now</button>
                </div>
            </section>

            <a class="tyre-promo-image" href="#">
                <img src="/img/tyre-promo-large.png" />
            </a>
            <ul class="sub-section-list">
                <li>
                    <h5>
                        Get a further 10% on your fuel
                    </h5>
                    <div class="item-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam maximus lectus dui, eu condimentum odio laoreet in. Aliquam ultrices in urna at placerat. Cras rutrum cursus at dolor.</p>
                    </div>
                </li>
                <li>
                    <h5>
                        Quality Tyres
                    </h5>
                    <div class="item-content">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Nullam maximus lectus dui, eu condimentum odio laoreet in.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Nullam maximus lectus dui, eu condimentum odio laoreet in.</li>
                    </div>
                </li>
                <li>
                    <h5>
                        Child Restraint Fittings
                    </h5>
                    <div class="item-content">
                        <table>
                            <tr>
                                <td>Width</td>
                                <td>175</td>
                            </tr>
                            <tr>
                                <td>Eco / Fuel Saver</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>Width</td>
                                <td>175</td>
                            </tr>
                            <tr>
                                <td>Eco / Fuel Saver</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>Width</td>
                                <td>175</td>
                            </tr>
                            <tr>
                                <td>Eco / Fuel Saver</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>Width</td>
                                <td>175</td>
                            </tr>
                            <tr>
                                <td>Eco / Fuel Saver</td>
                                <td>No</td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
            <div class="tyre-item">
                <header class="tyre-header">
                    <div class="tyre-header-left">
                        <h4 class="tyre-title">
                            <a href="#">Yokohama Bluearth AE-01</a>
                        </h4>
                        <img class="tyre-logo" src="/img/yokohama.svg" />
                    </div><!--
                    --><div class="tyre-header-right">
                        <div class="tyre-image" style="background-image: url('/img/tyre.jpg')">

                        </div>
                        <div class="tyre-price">
                            $79
                        </div>
                    </div>
                </header>
                <article class="tyre-content">
                    <p>Tall SUVs and small 4WDs use more fuel than other cars of similar size. The Geolandar SUV is a quiet, low rolling resistance 'eco tyre'. <a href="#">More</a></p>
                </article>
            </div>
            <div class="tyre-item">
                <header class="tyre-header">
                    <div class="tyre-header-left">
                        <h4 class="tyre-title">
                            <a href="#">Geolander SUV</a>
                        </h4>
                        <img class="tyre-logo" src="/img/yokohama.svg" />
                    </div><!--
                    --><div class="tyre-header-right">
                        <div class="tyre-image" style="background-image: url('/img/tyre.jpg')">

                        </div>
                        <div class="tyre-price catalogue-special">
                            $79
                        </div>
                    </div>
                </header>
                <article class="tyre-content">
                    <p>Tall SUVs and small 4WDs use more fuel than other cars of similar size. The Geolandar SUV is a quiet, low rolling resistance 'eco tyre'. <a href="#" class="read-more">More</a></p>
                </article>
            </div>
        </section>


    </div>
</main>
