<div class="tyre-search-widget">
    <div class="show-for-xmedium-up tyre-search-title">
        <strong>Refine your results</strong>
    </div>
    <div class="tyre-search-vehicles active">
        <strong class="title"><span>Find Tyres </span><span>by Vehicle</span></strong>

        <form class="tyre-search-vehicles-form">
            <label>
                Vehicle Make
                <select name="vehicle-make" id="vehicle-make">
                    <option disabled selected>Select make</option>
                    <option value="23">Holden</option>
                    <option value="54">Subaru</option>
                    <option value="56">Toyota</option>
                </select>
            </label>
            <label>
                Vehicle Model
                <select name="vehicle-model" id="vehicle-model" disabled>
                    <option disabled selected>Select model</option>
                </select>
            </label>
            <label>
                Vehicle Year
                <select name="vehicle-year" id="vehicle-year" disabled>
                    <option disabled selected>Select year</option>
                </select>
            </label>
            <label>
                Vehicle Series
                <select name="vehicle-series" id="vehicle-series" disabled>
                    <option disabled selected>Select series</option>
                </select>
            </label>
            <label>Brand
                <ul class="checkbox-list">
                    <li>
                        <label>
                            <input type="checkbox"/> <span>Yokohama</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox"/> <span>Mazzini</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox"/> <span>West Lake</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox"/> <span>Sime Tyres</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox"/> <span>Deestone</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox"/> <span>Autogrip</span>
                        </label>
                    </li>
                </ul>
            </label>


            <button class="btn orange">Refine</button>
        </form>

    </div>
    <div class="tyre-search-size">
        <strong class="title"><span>Find Tyres by Size</span><span>By tyre size</span></strong>
        <form class="tyre-search-size-form">
            <label>
                Section Width
                <select>
                    <option>205</option>
                    <option>220</option>
                    <option>240</option>
                </select>
            </label>
            <label>
                Aspect Ratio
                <select>
                    <option>205</option>
                    <option>220</option>
                    <option>240</option>
                </select>
            </label>
            <label>
                Rim Diameter
                <select>
                    <option>205</option>
                    <option>220</option>
                    <option>240</option>
                </select>
            </label>

            <button class="btn orange">Search for tyres</button>
        </form>
    </div>
</div>
