<main class="content vehicle-make-page">
    <div class="row">
        <h1>Tyres for Ford Cars</h1>
        <button class="btn blue request-a-quote">Request a Quote</button>

        <section class="main-content">
            <section class="intro-content">
                <div class="logo-image">
                    <div style="background-image: url('/img/logo-ford.png');"></div>
                </div>
                <div class="intro-text">
                    <h5>Optional Heading Title</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu dui eros. Curabitur ullamcorper nulla quis lacus venenatis laoreet. Integer varius turpis nec posuere dapibus. <a href="#">Find Tyre Store</a></p>
                </div>
            </section>
            <article>
                <h5>Browse Tyres by Ford Cars</h5>
                <ul>
                    <li>Ford Fiesta</li>
                    <li>Ford Focus S7 Hatch</li>
                    <li>Ford Fiesta</li>
                    <li>Ford Focus S7 Hatch</li>
                    <li>Ford Fiesta</li>
                    <li>Ford Focus S7 Hatch</li>
                    <li>Ford Fiesta</li>
                    <li>Ford Focus S7 Hatch</li>
                    <li>Ford Fiesta</li>
                    <li>Ford Focus S7 Hatch</li>
                    <li>Ford Fiesta</li>
                    <li>Ford Focus S7 Hatch</li>
                </ul>
                <h5>Disclaimer</h5>
                <p>Donec vel lacus sed est imperdiet sagittis. Donec vitae lorem purus. Maecenas mollis augue eget interdum vestibulum. Vestibulum aliquam quam quis turpis ullamcorper tristique. In posuere condimentum nisi. Pellentesque ut pellentesque massa, sed molestie enim. Integer sed risus at tortor ornare malesuada. Phasellus cursus varius odio sit amet gravida. Nam accumsan, risus et dictum scelerisque, massa nulla feugiat dui, non blandit ligula lectus vitae risus.</p>

                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Proin sit amet mauris ullamcorper, viverra justo at, vulputate mauris. Integer vel erat consequat, lacinia tellus at, ornare orci.</p>


            </article>
        </section>

        <aside class="sidebar">
            @@include('./_tyre-search-widget.tpl.html')

            @@include('./_newsletter-widget.tpl.html')

            @@include('./_promo-widget.tpl.html')
        </aside>
    </div>
</main>
