.homepage-content {
    article {
        max-width: 640px;
        margin: 0 auto;
        padding: rem-calc(32);
        display: none;

        blockquote {
            color: $alt-blue;
            font-size: rem-calc(24);
            line-height: rem-calc(32);
            margin: rem-calc(24) 0;
            padding: 0;
            border: 0;
        }

        @media #{$xmedium-up} {
            display: block;
            float: left;
            width: 60%;
        }
        @media #{$xmedium-only} {
            h4 {
                color: $blue;
                font-weight: 600;
                font-size: rem-calc(20);
                line-height: rem-calc(28);
                margin-bottom: rem-calc(14);
            }
            blockquote {
                color: $alt-blue;
                font-size: rem-calc(20);
                line-height: rem-calc(28);
                margin: rem-calc(20) 0;
                padding: 0;
                border: 0;
            }
        }
        @media #{$large-up} {
            width: 66.6666%;
            max-width: none;
        }
    }
}
