.vehicle-make-list {
    text-align: center;
    h1 {
        color: $orange;
        display: none;
        font-size: rem-calc(20);
        font-weight: 600;
        line-height: rem-calc(26);
        padding: rem-calc(5) rem-calc(10);
        text-align: center;
        @media #{$xmedium-up} {
            color: $blue;
            display: block;
            font-size: rem-calc(38);
            line-height: rem-calc(44);
            padding: 0 rem-calc(100) 0 rem-calc(15);
            text-align: left;
        }
        @media #{$large-up} {
            font-size: rem-calc(46);
            line-height: rem-calc(54);
        }
    }
    .tyre-search-widget {
        display: block;
        @media #{$xmedium-up} {
            display: none;
            .flexbox.flexwrap & {
                display: none;
            }
        }
    }
    .logo-matrix {
        display: none;
        margin-top: rem-calc(25);
        @media #{$xmedium-up} {
            display: block;
        }
    }
    .show-all {
        display: none;
        @media #{$xmedium-up} {
            display: inline-block;
            margin-top: rem-calc(20);
        }
    }
}
