// ## colours.
// theme palette.

$lightgrey: #e5e5e5;
$lightgreyhover: #b7b7b7;

$grey: #c9c9c9;

$green: #41a743;
$darkgrey: #343434;

$blue: #0071b9;
$bluehover: #004f80;
$btn-blue: #1281c9;

$alt-blue: #24a0ee;

$lightblue: #41b2f9;
$lightbluehover: #258dce;

$verylightblue: #e9f6fe;
$verylightbluehover: #d2ecfc;

$orange: #ec7405;
$lightorange: #F9CA9E;
$verylightorange: #FFFCFA;
$orangehover: #bd5d04;

$darkorange: #ee780b;
